<!-- Déjà dans un container -->
<h2>Your vehicles</h2>
<div class="card-list">
  <div class="card">
    <div class="card-title">Peugeot</div>
    <div class="card-line">
      <div class="card-column">
        106 Phase 2 - Equinoxe 5 portes
      </div>
    </div>
    <div class="card-body">
      <div class="card-line">
        <div class="card-column">MEC</div>
        <div class="card-column">1997</div>
      </div>
      <div class="card-line">
        <div class="card-column">Kilométrage Act.</div>
        <div class="card-column">83 500</div>
      </div>
      <div class="card-line">
        <div class="card-column">Prix d'achat</div>
        <div class="card-column">1900 €</div>
      </div>
      <div class="card-line">
        <div class="card-column">Année d'achat</div>
        <div class="card-column">2017</div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card-title">Vehicle 2</div>
    <div class="card-body"></div>
  </div>
  <div class="card">
    <div class="card-title">Vehicle 3</div>
    <div class="card-body"></div>
  </div>
  <div class="card">
    <div class="card-title">Vehicle 4</div>
    <div class="card-body"></div>
  </div>
  <div class="card">
    <div class="card-title">Vehicle 5</div>
    <div class="card-body"></div>
  </div>
</div>
