.fullheight{
  min-height: 91vh;
}

.buttonlist{
  text-align: center;
}

.buttonlist button{
  display: block;
  min-width: 100px;
}

.container{
  margin: 1%;
  border: 1px solid grey;
  height: 86vh;
}
